//@import "../../../node_modules/normalize.css/normalize.less";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.less";
@import "../../../node_modules/fontawesome/font-awesome.less";

html, body {
  height: 100%;
}

html {
  font-size: 12px;
}

body {
  font-family: "Alright Sans LP", "Avenir Next", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #6f6f6f;
  transition: all .15s;
}

input {
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
  &:focus {
    outline: none !important;
  }
}

input[type='button'],
input[type='submit'] {
  border: 1px solid #ddd;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  &:active {
    background-color: rgb(204, 204, 204);
  }
  &:hover {
    background-color: rgb(204, 204, 204);
  }
}

.form-group {
  position: relative;
}

.container {
  padding: 20px;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
}

.btn {
  display: block;
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.78);
}

.main-container {
  margin: 0 auto;
}

.help-block {
  display: block;
}

.text-danger {
  color: #e55c5c;
}

.text-center {
  text-align: center;
}

.form-control {
  outline: none;
  border: 1px solid #e1e6f0;
  height: 26px;
  max-width: 300px;
  border-radius: 4px;
  width: 100%;
  padding: 20px 12px;
  font-size: 14px;
}

.main-container {
  //margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/**********公共样式结束***************/

.register-nav {

  .logo {
    float: left;
    h1 {
      font-size: 22px;
      margin: 0;
    }
  }
  float: right;
  ul li {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      border: 1px solid #6dbcff;
      border-radius: 4px;
      a {
        display: block;
        padding: 7px 12px;
        color: #6dbcff;
        &:hover {
          background-color: #47A2FF;
          color: #fff;
        }
      }

    }
    a {
      font-size: 14px;
      padding: 25px 10px;
      color: #7a8599;
      &:hover {
        color: #464E5D;
      }

    }
  }
}

.sign-in {
  padding: 100px 0;
  form {
    width: 300px;
    margin: 0 auto;
    .help-block {
      text-align: left;
    }
    .text-danger {
      visibility: hidden;
    }
    .has-error {
      visibility: visible;
    }
    .help-block {
      margin: 12px 24px;
    }
  }
  input[type='submit'] {
    background-color: #1989fa;
    border-color: #1989fa;
    width: 88%;
    &:hover {
      background-color: #0577ea;
      border-color: #0577ea;
    }
  }
  input[type='password'] {
    padding-right: 100px;
  }
}

.forget-password-btn {
  position: absolute;
  right: 20px;
  padding: 14px;
  border-left: 1px solid #ddd;
}

/***************left-panel**********************/

.left-panel {
  position: fixed;
  width: 21%;
  height: 100%;
  padding: 10px 20px;
  background-color: #ebeef5;
  border-right: 1px solid #eee;
  h1 {
    display: inline-block;
  }
  .search-wrap {
    position: relative;
    width: 215px;
    margin: 0 auto;
  }
  .fa-search {
    position: absolute;
    font-size: 18px;
    color: rgba(221, 221, 221, 0.56);
    top: 8px;
    left: 10px;
  }
  .search-reponsitory {
    border-radius: 20px;
    padding: 16px 10px 16px 40px;
    color: #929292;
    width: 100%;
  }
  .add-reponsitory {
    background: none;
    color: #5e6166;
    border: none;
    font-size: 14px;
    border-top: 1px solid #e1e4eb;
    border-bottom: 1px solid #e1e4eb;
    width: 100%;
    display: block;
    margin: 18px 0;
    padding: 10px 0;
    text-align: left;
  }
  .fa-plus-circle {
    margin: 0 10px;
  }
  .resource-wrap {
    ul {
      overflow-y: scroll;
      height: 100%;
      li {
        &:last-child {
          margin-bottom: 250px;
        }
        list-style: none;
        margin: 10px 0;
        a {
          padding: 10px 22px;
          font-size: 14px;
          display: block;
          &:hover {
            background-color: rgba(25, 137, 250, .05);
          }
        }
      }
    }
  }
  .user-space {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    h2 {
      color: #5e6166;
      font-size: 14px;
      font-weight: 100;
      margin: 25px 30px;
    }
    a.v-link-active {
      background-color: #ebeef5;
    }
  }
  .fa-cube {
    color: #44B2FF;
    font-size: 18px;
    margin-right: 10px;
  }
}

/************top panel*****************/
.top-panel {
  position: fixed;
  width: 79%;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  ul {
    float: right;
    .fa {
      margin: 0 8px;
    }
    li {
      list-style: none;
      display: inline-block;
      &:last-child {
        margin-right: 35px;
      }
      a {
        display: block;
        padding: 22px 14px;
        font-size: 14px;
        &:hover {
          color: #464E5D;
        }
      }
    }
  }
}

/*********top-left-fun-panel***************/
.return-pre {
  float: left;
  padding: 15px 15px;
  border-right: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  a {
    line-height: 34px;
    font-size: 14px;
  }
  .fa-angle-left {
    margin-right: 10px;
    font-size: 30px;
    float: left;
  }
}

.top-left-fun-panel {
  ul {
    float: left;
    li {
      &:first-child {
        font-weight: bold;
        border-right: 1px solid #ddd;
      }

    }
  }
}

/******************main-content**********************/
.main-content,
.content-view {
  float: left;
  margin-top: 110px;
  margin-left: 23%;
  width: 77%;
}

/******************content-view**********************/
.content-view {
  h1 {
    font-size: 16px;
    color: #2f3033;
  }
  h2 {
    font-weight: normal;
  }
  .resource-panel {
    margin-top: 100px;
  }
  ul {
    li {
      width: 200px;
      float: left;
      margin: 10px;
      div {
        text-align: center;
        border: 1px solid #eee;
        border-radius: 6px;
        padding: 25px 10px;
        min-height: 191px;
        min-width: 200px;
        header {
          font-size: 14px;
        }
        span {
          display: block;
          padding: 42px 0;
        }
        a {
          border-radius: 14px;
          border: 1px solid #1989fa;
          padding: 6px 20px;
          color: #1989fa;
          &:hover {
            color: #fff;
            background-color: #1989fa;
          }
        }
      }
    }
  }
}

/************************add-bucket****************************/
.add-bucket {
  .bucket-name {
    font-size: 18px;
  }
  .help-block {
    text-align: center;
    font-size: 14px;
  }
  #bucket-name {
    padding: 14px 10px;
    font-size: 14px;
    border: 1px solid #47a0fb;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.73);
    width: 28%;
    margin: 50px auto;
    display: block;
  }
  .btn {
    margin: 0 auto;
    width: 15%;
    background-color: #0577ea;
    border-color: #0577ea;
    color: #fff;
    &:hover {
      background-color: #0571e2;
    }
  }
}

/*********user-info************/
.user-info {
  .btn-save {
    display: inline-block;
    padding: 8px 52px;
  }
  .text-danger {
    padding: 10px 0;
    display: none;

  }
}

/*******************************/
.main-content {
  .bucket-header {
    margin-bottom: 26px;
    .btn {
      background-color: #fff !important;
      padding: 8px 15px;
      &:hover {
        color: #525459;
        border-color: rgba(94, 97, 102, .8);
      }
    }
    .btn-upload {
      position: relative;
      color: #1989fa;
      background-color: rgba(25, 137, 250, .04);
      border-color: rgba(25, 137, 250, .4);
      &:hover {
        color: #fff;
        background-color: #1989fa !important;
      }
    }
    i {
      font-style: normal;
    }
    ul {
      li {
        display: inline-block;
        margin-right: 15px;
        .fa {
          margin-right: 4px;
        }
      }
    }
    span {
      color: #666f80;
    }
  }

  .file-list {
    .delete-file,
    .download-file {
      margin-left: 30px;
      i {
        margin-right: 5px;
      }
    }
    .download-file {
      a {
        color: #1989fa;
        &:hover {
          color: rgba(25, 137, 250, .85)
        }
      }
    }
    .delete-file {
      a {
        color: #e55c5c;
        &:hover {
          color: #de3030;
        }
      }
    }
    .tr-file-name {
      th {
        padding: 8px 22px;
      }
    }
    span.file_name {
      display: inline-block;
      min-width: 50px;
      margin-right: 40px;
    }
    .file-size {
      padding: 8px 22px;
    }
    .close,
    .check {
      position: absolute;
      right: 44px;
      top: 7px;
      font-size: 16px;
      line-height: 1;
      .fa {
        font-weight: normal !important;
      }
      &:focus {
        opacity: 1;
        color: #000;
      }
    }
    .check {
      margin-right: 20px;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      filter: alpha(opacity=20);
      opacity: .2;
      &:hover {
        opacity: 1;
      }
    }
    .td-input-wrap {
      position: relative;
    }
    .modify-name {
      position: absolute;
      right: 10px;
      top: 9px;
      display: none;
    }
    th {
      font-weight: normal;
    }
    .table > thead > tr > th {
      border-width: 1px;
    }
    tbody {
      tr {
        &:hover {
          .modify-name {
            display: block;
          }
        }
      }
      td {
        position: relative;
        max-width: 180px;
        min-width: 32px;
        //vertical-align: middle;
        .file-name {
          display: inline-block;
          padding-right: 54px;
        }
        .form-control {
          padding: 15px 50px 15px 12px;
        }
        input {
          width: 88%;
        }
        &:first-child {
          padding-right: 0;
        }
        .btn {
          padding: 2px 14px;
          font-size: 12px;
        }
      }
      .fa-more {
        padding: 10px;
        display: table-cell;
        vertical-align: top;
      }
    }
  }
}

.file-upload {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 150;
  left: 0;
  background-color: #fff;
}
.upload-conent {
  border: 1px solid #ddd;
  overflow-y: scroll;
  padding: 10px;
  height: 284px;
}
.upload-wrap {
  header h2 {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
  .close-btn {
    position: absolute;
    top: 30px;
    right: 42px;
    font-size: 28px;
  }
  .upload-btn {
    .btn {
      display: inline-block;
    }
    .btn-upload {
      position: relative;
      overflow: hidden;
      color: #1989fa;
      background-color: rgba(25, 137, 250, 0.04);
      border-color: rgba(25, 137, 250, 0.4);
      &:hover {
        color: #fff;
        background-color: #1989fa !important;
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        height: 33px;
        width: 68px;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      input[type='file'] {
        cursor: pointer;
        display: block;
        height: 58px;
        width: 68px;
        position: absolute;
        opacity: 0;
        top: -20px;
      }
    }
    .btn-close {
      background-color: #fff;
      padding: 10px 20px;
    }
  }
}
.progress-bar {
  height: 5px;
}

/**************bucket setting*******************/
.bucket-setting {
  .btn-bucket-delete {
    margin-top: 30px;
    color: #e55c5c;
    background-color: rgba(229, 92, 92, .04);
    border-color: rgba(229, 92, 92, .4);
    padding: 0 30px;
    font-size: 14px;
    line-height: 42px;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    transition: ease all 0.3s;
    &:hover {
      color: #fff;
      background-color: #e55c5c;
    }
  }
}

.delete-bucket-title {
  font-size: 16px;
}

.copyright {
  color: #d0d0d0;
}

@media (min-width: 1200px) {
  .main-container {
    width: 1170px;
  }

}

@media (min-width: 992px) {
  .main-container {
    width: 970px;
  }
}

/********************************/

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: #ebeef5;
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: #ebeef5;
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border-width: 0;
  border-style: solid;
  border-radius: 6px;
  background: #d9d9d9;
}

::-webkit-scrollbar {
  width: 8px;
  height: 14px;
}
