//@import "../../../node_modules/normalize.css/normalize.less";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.less";
@import "../../../node_modules/fontawesome/font-awesome.less";

html, body {
  height: 100%;
}

html {
  font-size: 12px;
}

body {
  font-family: "Alright Sans LP", "Avenir Next", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none !important;
  color: #6f6f6f;
  transition: all .15s;
}

input,button {
  &:focus {
    outline: none!important;
  }
}
.form-wrap {
  margin-top: 40px;
  padding: 40px;
  background-color: #ECF0F1;
  border-radius: 4px;
  border: 1px solid #fff;
  .form-control {
    margin-left: 15%;
    box-shadow: none;
    width: 70%;
    padding: 18px 10px;
    color: #747474;
    &:focus {
      box-shadow: none;
    }
  }
  .btn-login {
    background-color: #f54d3c;
    color: #fff;
    width: 70%;
    margin-left: 15%;
    box-shadow: none;
    border: 1px solid #f54d3c;
    &:focus {
      color: #fff;
    }
    &:hover {
      background-color: #E74C3C
    }
  }
}

/********************************/

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: #ebeef5;
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: #ebeef5;
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border-width: 0;
  border-style: solid;
  border-radius: 6px;
  background: #d9d9d9;
}

::-webkit-scrollbar {
  width: 8px;
  height: 14px;
}
